@import "tailwindcss";

@tailwind utilities;

@layer base{
  button{
    @apply cursor-pointer;
  }
}

@layer components {
  button {
    @apply cursor-pointer;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /*Firefox*/
 } 

 @keyframes fade-in{
  0%{ opacity: 0;}
  100%{ opacity: 1}
 }

 .animate-fade-in{
  animation: fade-in 0.8s ease-out;
 }